
.Item-Detail {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 8px;
        button {
            margin: 4px
        }
        p {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin: 12px;
        }
}

.alert {
    color: blue;
    background-color: aqua;
}